<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/baseLayout}">

<head>
    <title>Make Payment</title>
</head>
<body>
<div id="payments-main-content" layout:fragment="content">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <form th:action="@{''}" th:object="${paymentMethods}" method="post" class="form" id="paymentSummary">

                <div th:replace="fragments/globalErrors :: globalErrors"></div>
                <header>
                    <h1 id="page-title" class="govuk-heading-l">How do you want to pay?</h1>
                </header>

                <div class="govuk-form-group" th:classappend="${#fields.hasErrors('selectedPaymentMethod')} ? 'govuk-form-group--error' : ''">
                    <fieldset class="govuk-fieldset">

                        <span class="govuk-error-message"
                              id="selectedPaymentMethod-errorId"
                              th:if="${#fields.hasErrors('selectedPaymentMethod')}"
                              th:each="e : ${#fields.errors('selectedPaymentMethod')}" th:text="${e}">
                        </span>

                        <div class="govuk-radios" th:each="paymentMethod : ${availablePaymentMethods}" style="margin-bottom:1em;">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input piwik-event"
                                       id="availablePaymentMethod"
                                       name="available-payment-method"
                                       type="radio"
                                       th:value="${paymentMethod}"
                                       th:field="*{selectedPaymentMethod}"
                                       th:errorclass="govuk-error-message"
                                       th:attr="data-event-id=${paymentMethod}"/>
                                <label class="govuk-label govuk-radios__label" for="availablePaymentMethod" th:text="${paymentMethod}">keyvalue</label>
                            </div>
                        </div>

                    </fieldset>
                </div>

                <input id="next-button" class="govuk-button piwik-event" data-event-id="Payment Summary - Continue" type="submit" role="button" value="Continue to payment"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>
