<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/baseLayout}">

<head>
    <title>Make Payment</title>
</head>
<body>
    <div id="payments-main-content" layout:fragment="content">

        <form th:action="@{''}" th:object="${choosePaymentType}" method="post"
              class="form" id="choosePaymentType">
            <div class="grid-row">
                <div class="column-one-half">
                    <b>Payment Description</b>
                </div>
                <div class="column-one-half">
                    <b>Amount to Pay</b>
                </div>
            </div>
            <div class="grid-row">
                <div class="column-one-half">
                    <p></p>
                </div>
                <div class="column-one-half">
                    <p></p>
                </div>
            </div>
            <div class="form-group">
                <input class="button" type="submit" role="button" value="Continue"/>
            </div>
        </form>
    </div>
</body>
</html>