<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/baseLayout}">

<head>
    <title>Make Payment</title>
</head>
<body>
    <div id="payments-main-content" layout:fragment="content">

        <form th:action="@{''}" th:object="${choosePaymentType}" method="post"
              class="form" id="choosePaymentType">
            <div class="grid-row">
                <table>
                    <tr>
                        <th>Payment Description</th>
                        <th>Amount to Pay</th>
                    </tr>
                    <tr>
                        <td>Late Filing Penalty</td>
                        <td>100</td>
                    </tr>
                </table>
            </div>

            <p></p>
            <div class="form-group">
                <input class="button" type="submit" role="button" value="Continue"/>
            </div>
        </form>
    </div>
</body>
</html>